extends ../layout

block content
  table(style="width:100%; height:90%;")
    tbody
      each row in gameBoard
        tr
          each column in row
            td(id=column)= column
  if player == 'a'
    div.center You are player A!
  else
    div.center You are player B!
  script(type="text/javascript", src="/scripts/spymaster.js")
  div#answers.answer= answers
  div#answers.bomb= bomb