extends ../layout

block content
  table(style="width:100%; height:90%;")
    tbody
      each row in gameBoard
        tr
          each column in row
            td(id=column)= column
  div#status.center Codenames Duet
  script(type="text/javascript", src="/scripts/board.js")
  div#answers.answer= answers
  div#answers.bomb= bomb